* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'lato', sans-serif;
}

body {
  padding: 30px;
}

button {
  box-shadow: 4px 4px rgb(10, 10, 10);
  font-weight: bold;
  cursor: pointer;
}

.line {
  width: 25%;
  height: 5px;
  margin-bottom: 20px;
}

/* Header */

#top-navbar {
  border: 2px solid black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#display-date {
  text-align: right;
  font-weight: bold;
  position: fixed;
  top: 10vh;
  right: 5vw;
  margin-top: 25px;
}

h1 {
  font-size: 17px;
}

nav {
  display: flex;
}

nav > a {
  font-weight: bold;
  padding: 0 20px;
  color: black;
  text-decoration: none;
}

nav > a:not(:last-child) {
  border-right: 2px solid black;
}

/* Footer */

footer > p {
  text-align: center;
  font-size: 15px;
  bottom: 1.2rem;
  position: absolute;
}

/* Books section */

.book {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  width: 100%;
}

.book > p {
  padding: 5px 10px;
  font-weight: bold;
  color: black;
}

.book > button {
  padding: 5px 10px;
}

.book:nth-child(odd) {
  background-color: rgb(209, 208, 208);
}

#Awsomebook-Container {
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  padding: 0 20px 20px 20px;
  margin: 40px auto;
  max-height: 50vh;
  overflow-y: auto;
}

#Awsomebook-Container > h2 {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 10px;
}

#Awsomebook-Container > p {
  display: none;
  padding: 10px;
}

#book_list {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

/* Add book form */

#add_book_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
  align-items: center;
  width: 400px;
  margin: 2% auto;
}

#add_book_form > input {
  font-size: 15px;
  padding: 10px 15px;
  width: 100%;
  border: 3px solid black;
  outline: none;
}

#add_book_form > button {
  font-size: 15px;
  padding: 5px 20px;
  align-self: flex-end;
}

section {
  display: none;
}

section:target {
  display: flex;
}

#contact {
  flex-direction: column;
  margin: 5% auto;
  width: 80%;
  border: 2px solid black;
  background-color: rgba(240, 240, 240, 0.7);
  align-items: center;
  text-align: center;
  padding: 5%;
  gap: 1rem;
  border-radius: 5px;
}

#contact > p {
  text-align: left;
  font-size: 1.1rem;
}

#contact > ul {
  text-align: left;
}

@media (max-width: 700px) {
  #top-navbar {
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    align-items: center;
  }

  nav {
    background-color: rgb(209, 208, 208);
    padding: 10px;
  }

  nav > a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: blue;
  }
}

#Awsomebook-Container-middle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 50px;
}

#bar {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  width: 40vw;
}
